.weather__current_descr{
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
small{
    display: block;
    font-size: 1.1rem;
}
span{
    font-size: 2rem;
}
.flex-item{
    display: flex;
    align-items:center;
    justify-content:space-around;
}
.width{
    margin-top: 1rem;
    width: 400px;
}


@media screen and (max-width: 768px){
    .weather__current_descr{
        text-align: left;
        font-size: 1.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    small{
        font-size: 0.9rem;
    }
}